<!-- Modal -->
<div class="modal fade" id="estructuraDialog" tabindex="-1" aria-labelledby="estructuraDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-container-width">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="estructuraDialogLabel">Estructura del archivo seleccionado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="estructura_tabla" class="table table-striped table-bordered">
            <thead>
              <!-- Cabeceras de la tabla aquí -->
            </thead>
            <tbody>
              <!-- Cuerpo de la tabla aquí -->
            </tbody>
          </table>
          <!-- Contenedor que centra el botón -->
          <div class="button-container text-center">
            <button id="downloadBtn" class="btn btn-success" onclick="downloadTableAsXLSX()">Descargar Formato</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
