{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accountants Tools{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
    <body>
        {% load i18n %}
        <!-- Barra lateral -->
        <div class="sidebar">
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <div class="text-center">
                <h1 class="nav-title">Accountants tools!</h1>
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="nav-logo">
            </div>
            {% if user.is_authenticated %}
            
                <ul class="flex-column">
                    <li class="nav-item">
                        <a href="{% url 'crear_cliente' %}" class="nav-link {% if request.resolver_match.url_name == 'crear_cliente' %}active{% endif %}">
                            <i class="fa-solid fa-user-plus"></i> Crear Cliente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'procesar_excel' %}" class="nav-link {% if request.resolver_match.url_name == 'procesar_excel' %}active{% endif %}">
                            <i class="fa-solid fa-file-excel"></i> Consolidar Terceros Excel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'procesar_proveedores' %}" class="nav-link {% if request.resolver_match.url_name == 'procesar_proveedores' %}active{% endif %}">
                            <i class="fa-solid fa-users-gear"></i> Proveedores
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'kanban' %}" class="nav-link {% if request.resolver_match.url_name == 'kanban' %}active{% endif %}">
                            <i class="fa-solid fa-tasks"></i> Tareas
                        </a>
                    </li>
                </ul>

                <div style="margin: 10px auto;">
                    <form action="{% url 'logout' %}" method="post" id="endSession">
                        {% csrf_token %}
                        <button type="submit" class="btn-custom">Cerrar Sesión</button>
                    </form>
                </div>
            {% endif %}
           
        </div>
        <!-- Contenido principal -->
        <div class="main-content">
            
            <main class="container mt-5">

                {% if error %}
                <div class="custom-alert custom-alert-danger">
                    <span class="custom-alert-icon">❌</span>
                    <span class="custom-alert-text">{{ error }}</span>
                    <button type="button" class="custom-alert-close" onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endif %}
            
            {% if messages %}
                {% for message in messages %}
                    <div class="custom-alert custom-alert-{{ message.tags }}">
                        {% if message.tags == "success" %}
                            <span class="custom-alert-icon">✅</span>
                        {% elif message.tags == "error" %}
                            <span class="custom-alert-icon">❌</span>
                        {% elif message.tags == "warning" %}
                            <span class="custom-alert-icon">⚠️</span>
                        {% else %}
                            <span class="custom-alert-icon">ℹ️</span>
                        {% endif %}
                        <span class="custom-alert-text">{{ message }}</span>
                        <button type="button" class="custom-alert-close" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            
                
                    
                {% block content %}
                    <!-- El contenido específico de cada página se insertará aquí -->
                {% endblock %}
            </main>
        </div>
        
        <!-- Incluir jQuery (asegúrate de que esta línea está antes de cualquier script que use jQuery) -->
        <!-- Agregar jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Agregar Bootstrap JS (Bootstrap 4 o 5, según tu versión) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
        <script src="{% static 'js/main.js' %}?v={{ version }}"></script>
    </body>
</html>
