{% extends 'csv_processor/head.html' %}
{% block title %}Inicio | Accounter Tools{% endblock %}

{% block content %}
<div class="form-container">
    <h1>¡Bienvenido a Accountants tools!</h1>
    <h3>Tu asistente de productividad contable</h3>

    <p style="margin-top: 20px; text-align: justify;">
        Usa el menú lateral para acceder a las distintas herramientas disponibles: consolidar terceros desde archivos CSV o Excel, gestionar tus proveedores o revisar y asignar tareas desde el tablero Kanban.
    </p>

</div>
{% endblock %}
