{% extends 'csv_processor/head.html' %}

        <!-- Menú de navegación -->
        {% block content %}
        
        <div class="form-container">
            <h1>Consolidar Terceros Exogena</h1>
            <h2>Procesar archivo csv</h2>
          
            <!-- Formulario de carga de archivo con selección de formato -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">

                    {{ form.as_p }}
                </div>
                <button type="submit">Procesar archivo</button>
            </form>
        </div>
        <!-- Incluir el modal desde el template modal_template.html -->
        {% include 'csv_processor/estructura_archivo.html' %}
    
{% endblock %}